.attribute{
    border: solid 5px black;
    padding: 5px;
    margin: 10px;
    background-color: salmon;
    width: 200px;
}
li{
    font-size: 20px;
}
button{
    margin: 50px;
    font-size: 15px;
}